<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  

  h1 {
    text-align: center;
    margin: 0;
    
  }

  p {
    margin-top: 17px;
    color: var(--gray-700);
  }

  main {
    width: 500px;
    
    margin: auto;
    flex-direction: column;             
    display: flex;
    justify-content: center; 
  }
  
  
</style>

<main >
  <div>
    <div >
      <h1 style="text-align: center;">{{ title }}</h1>
      <p>{{content}}</p>
    </div>
  
  </div>

  <app-weather>
    
  </app-weather>
  
  <app-weather-yesterday>
    data = "yesterdayWeather"
  </app-weather-yesterday>
</main>




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
